<table id="movies-table" class="table table-striped signed-in-view">

  <thead>
    <tr>
      <th>#</th>
      <th>User Id</th>
      <th>Title</th>
      <th>Director</th>
      <th>Writer</th>
      <th>Cinematographer</th>
      <th>Music</th>
      <th>Reviews</th>
      <th>Management</th>
    </tr>
  </thead>

  <tbody id="movies-table-body">
    {{#each movies as |movie|}}
      <tr>
        <td>{{movie.id}}</td>
        <td>{{movie.user_id}}</td>
        <td><a href="{{movie.title_imdb_url}}">{{movie.title}}</a></td>
        <td><a href="{{movie.director_imdb_url}}">{{movie.director}}</a></td>
        <td><a href="{{movie.writer_imdb_url}}">{{movie.writer}}</a></td>
        <td><a href="{{movie.cinematographer_imdb_url}}">{{movie.cinematographer}}</a></td>
        <td><a href="{{movie.music_imdb_url}}">{{movie.music}}</a></td>
        <td><a href="{{movie.title_rotten_url}}">Reviews</a></td>
        <td>
          <button data-id="{{movie.id}}" class="btn btn-success movie-page-button">Movie Page</button>
          <button data-id="{{movie.id}}" class="btn btn-warning edit-movie-post-button">Edit</button>
          <button data-id="{{movie.id}}" class="btn btn-danger delete-movie-button">Delete</button>
        </td>
      </tr>
    {{/each}}
  </tbody>

</table>
