<div id="movie-page-view" class="row movie-page-view">

<div class="col-xs-8 offset-xs-2 centered">
  <div class="row movie-poster-div">
    <div class="center-block">
      <img class="movie-page-main-image" src="{{movie.img_url}}" alt="Movie Poster" style="padding: 15px; max-width: 100%;">
    </div>
  </div>
  <br>
  <div class="movie-content center-block">
    <h2>Movie Info</h2>
    <h4>Title: <a href="{{movie.title_imdb_url}}">{{movie.title}}</a></h4>
    <h4>Director: <a href="{{movie.director_imdb_url}}">{{movie.director}}</a></h4>
    <h4>Writer: <a href="{{movie.writer_imdb_url}}">{{movie.writer}}</a></h4>
    <h4>Cinematographer: <a href="{{movie.cinematographer_imdb_url}}">{{movie.cinematographer}}</a></h4>
    <h4>Music: <a href="{{movie.music_imdb_url}}">{{movie.music}}</a></h4>
    <h4>Rotten Tomatoes: <a href="{{movie.title_rotten_url}}">Reviews</a></h4>
    {{#if movie.isUserMovie}}
      <div class="movie-management-buttons" style="margin-top: 15px;">
        <button data-id="{{movie.id}}" class="btn btn-warning edit-movie-button">Edit Movie</button>
        <button data-id="{{movie.id}}" class="btn btn-danger delete-movie-button">Delete Movie</button>
      </div>
    {{/if}}
  </div>

  <br>

  <div class="container enter-comment-on-movie" style="margin-top: 40px;">
  <h4>Comment directly on the film or respond to someone in the comment section</h4>
  <br>

  <form id="submit-comment-on-movie" class="submit-comment-on-movie">
    <div class="form-group">
      <label for="comment">Comment on {{movie.title}}</label>

      <div class="form-group" hidden>
        <label for="movie-title">Movie Id</label>
        <input id="movie-id-input" type="number" name="movie_post[movie_id]" class="form-control new-movie-post-input">
      </div>
      <br>
      <div class="form-group" hidden>
        <label for="director">User Id</label>
        <input id="user-id-input" type="number" name="movie_post[user_id]" class="form-control new-movie-post-input">
      </div>
      <br>

      <textarea class="form-control" name="movie_post[comment]" rows="5" id="comment"></textarea>
    </div>
    <div>
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
  </form>

  </div>
  <br>

  <div class="comment-section" style="margin-top: 50px;">
    <h3>All Comments</h3>
    <br>
    {{#each comments as |comment|}}
      <div class="col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading"><b>Author ID:</b> {{comment.user_id}}|   <b>Comment Id:</b> {{comment.id}}|   <b>Parent Comment Id:</b> {{comment.parent_movie_post_id}}|</div>
          <div class="panel-body">{{comment.comment}}</div>
          {{#if comment.isUserMoviePost}}
            <div class="panel-footer" style="text-align: right;">
              <button data-id="{{comment.id}}" class="btn btn-sm btn-warning edit-comment-button">Edit</button>
              <button data-id="{{comment.id}}" class="btn btn-sm btn-danger delete-comment-button">Delete</button>
            </div>
          {{/if}}
        </div>
      </div>
    {{/each}}

  </div>
</div>
</div>
