<table id="movie-posts-table" class="table table-striped signed-in-view">

  <thead>
    <tr>
      <th>#</th>
      <th>Movie Id</th>
      <th>User Id</th>
      <th>Parent Movie Post Id</th>
      <th>Comment</th>
      <th>Management</th>
    </tr>
  </thead>

  <tbody id="movie-posts-table-body">
    {{#each moviePosts as |moviePost|}}
      <tr>
        <td>{{moviePost.id}}</td>
        <td>{{moviePost.movie_id}}</td>
        <td>{{moviePost.user_id}}</td>
        <td>{{moviePost.parent_movie_post_id}}</td>
        <td>{{moviePost.comment}}</td>
        <td>
          <button data-id="{{moviePost.id}}" class="btn btn-warning edit-movie-button">Edit</button>
          <button data-id="{{moviePost.id}}" class="btn btn-danger delete-movie-post">Delete</button>
        </td>
      </tr>
    {{/each}}
  </tbody>

</table>
